<!-- Esto hereda de layout.ejs -->
<h1 class="my-4">Lista de Usuarios</h1>

<form action="/users" method="POST" class="mb-4">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Correo" required>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Edad</label>
        <input type="number" name="age" id="age" class="form-control" placeholder="Edad" required>
    </div>
    <button type="submit" class="btn btn-primary">Crear Usuario</button>
</form>

<h2>Usuarios Registrados</h2>
<ul class="list-group">
    <% if (users && users.length> 0) { %>
        <% users.forEach(user=> { %>
            <li class="list-group-item">
                <%= user.name %> - <%= user.email %> - <%= user.age %>
            </li>
            <% }); %>
                <% } else { %>
                    <li class="list-group-item">No hay usuarios disponibles.</li>
                    <% } %>
</ul>